* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #111;
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  margin-top: 2rem;
}

header ul {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

header a {
  color: #c7c7c7;
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0066ff;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.3s, transform 0.3s;
}

header a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.sobre {
  display: flex;
  gap: 3rem;
  background-color: #1b1b1b;
  padding: 3rem 5rem;
  margin-top: 7rem;
  border-radius: 1rem;
  border: 1px solid #202020;
  align-items: center;
  justify-content: center;
}

.info-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.info-name h2 {
  color: #0066ff;
}

.info-name h1 {
  font-size: 4rem;
  color: #fff;
}

.info-name > p {
  color: #a1c2f5;
  font-weight: bold;
}

.info-presentation {
  color: #c7c7c7;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.info a {
  display: inline-block;
  color: #0066ff;
  background-color: #fff;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.info a:hover {
  background-color: #0066ff;
  color: #fff;
  transition: 0.6s;
}

.container-experiences {
  max-width: 100%;
  margin-top: 10rem;
  padding: 6rem;
  background-color: #1b1b1b;
}

.experiences {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 2rem;
  color: #fff;
}

.companies {
  background-color: #111;
  padding: 3rem;
  border-radius: 0.5rem;
}

.companies h1 {
  font-size: 4rem;
  position: relative;
}

.companies h1::before {
  content: "";
  position: absolute;
  background: #0066ff;
  width: 5rem;
  height: 0.5rem;
  top: 4.5rem;
}

.companies ul {
  margin-top: 4rem;
}

.companies ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: 500;
  color: #c7c7c7;
}

.companies-info {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.period {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.period > p {
  color: #0066ff;
  font-weight: 500;
}

.companies-info-tittle > P {
  color: #c7c7c7;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.container-projects {
  max-width: 100%;
  margin-top: 3rem;
  padding: 6rem;
  padding-bottom: 200px;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  padding: 0rem 2rem;
  gap: 2rem;
  margin-top: 1rem;
}

.tittle-project {
  text-align: center;
  font-size: 4rem;
  position: relative;
  color: #fff;
}

.project {
  padding: 9rem;
  background-color: #1b1b1b;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.project h1 {
  font-size: 3rem;
  color: #0066ff;
}

.knowledge {
  background-color: #1b1b1b;
  padding-top: 6rem;
}

.container-knowledge {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 100px;
  display: flex;
  background-color: #1b1b1b;
  justify-content: space-between;
  gap: 1rem;
}

.container-knowledge h1 {
  font-size: 4rem;
  color: #fff;
  position: relative;
}

.container-knowledge h1::before {
  content: "";
  position: absolute;
  background: #0066ff;
  width: 5rem;
  height: 0.5rem;
  top: 4.5rem;
}

.container-knowledge p {
  max-width: 700px;
  margin-top: 3rem;
  color: #c7c7c7;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
}

.knowledge-technologies {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.knowledge-technologies div {
  background-color: #1d1d1d;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.knowledge-technologies div:hover {
  cursor: pointer;
  border: 1px solid #0066ff;
}

.container-contact {
  width: 100%;
  margin-top: 10rem;
}

.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contact-icons {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.contact-icons div {
  background-color: #1d1d1d;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.contact-icons div:hover {
  cursor: pointer;
  border: 1px solid #0056b3;
}

form {
  width: 400px;
  background-color: #1b1b1b;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ccc;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input {
  border: 1px solid #0056b3;
}

textarea {
  resize: vertical;
  border: 1px solid #0056b3;
}
button {
  background-color: #fff;
  color: #0056b3;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
  transition: 0.5s;
}

footer {
  width: 100%;
  background-color: #1b1b1b;
  padding: 3.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}

footer span {
  color: #0056b3;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .image img {
    width: 300rem;
  }
  .sobre {
    flex-direction: column;
  }
  .image {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
  }
  .knowledge-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .container-knowledge {
    flex-direction: column;
  }
  .projects {
    flex-direction: column;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-icons {
    margin-top: 3rem;
  }

  @media (max-width: 1000px) {
    .experiences {
      flex-direction: column;
      align-items: center;
    }
    .companies {
      padding: 1rem 3rem;
    }
    .companies-info {
      width: 100%;
      margin-top: 4rem;
    }
  }

  .image img {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    content: url(./assets/programing.svg);
  }

  @media (max-width: 760px) {
    .image img {
      width: 50rem;
    }
    .knowledge-info div {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .info-name > p {
      margin-bottom: 0.5rem;
    }
    .period {
      flex-direction: column;
    }
    .period p {
      margin-top: 1rem;
    }
    .knowledge-technologies {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    .knowledge-info h1 {
      font-size: 2.5rem;
    }

    .knowledge-info h1::before {
      background: #0066ff;
      width: 5rem;
      height: 0.5rem;
      top: 3.5rem;
    }
    .knowledge-technologies img {
      width: 40px;
    }
    .contact-icons img {
      width: 40px;
    }
  }
  @media (max-width: 450px) {
    .info-name h1 {
      font-size: 3rem;
    }
    .info-name h2 {
      font-size: 2rem;
    }
    */ .info-name > p {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
    }
    header img {
      width: 150px;
    }

    .companies h1 {
      font-size: 3rem;
    }
    .tittle-project {
      font-size: 3rem;
    }
    .projects h1 {
      font-size: 2rem;
    }
    form {
      width: 100%;
    }
  }

  @media (max-width: 330px) {
    .info-name h1 {
      font-size: 2.5rem;
    }
    .info-name h2 {
      font-size: 1.6rem;
    }
    .info-name > p {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .info-presentation p {
      font-size: 1.4rem;
    }
    .companies h1 {
      font-size: 2.5rem;
    }
    .tittle-project {
      font-size: 2.5rem;
    }
    .projects h1 {
      font-size: 2rem;
    }
    footer {
      font-size: 1.6rem;
    }
    footer span {
      font-size: 1.6rem;
    }
  }
}
