:root {
  --color-font-text: #c7c7c7;
  --color-font: #0066ff;
  --color-font-tittle: #fff;
  --color-dark-blue: #0056b3;
  --color-menu-mobile: #0056b3;
  --color-bg: #111;
  --color-bg-section: #1b1b1b;
}
